h1.Logo img {
  width: 300px;
  margin: 0;
}
.Logo {
  background-color: #676767;
  margin: 0;
}
body {
  background-color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-size: larger;
}
.menu-horizontal button {
  padding: 10px;
}
.BarraLateral {
  height: 100vh; /* 100% de la altura de la ventana */
  width: 300px;
  background-color: black;
  position: absolute;
  right: 0; /* Cambio de left a right */
  top: 0;
}
.TextoDinamico {
  width: 50%;
  font-size: 150%;
  background-color: #363636;
  color: white;
  font-family: "Calibri";
}
.Botones button {
  margin-right: 100px;
  height: 50px;
  width: 200px;
  font-size: 20px;
}
